.mail-preview{
    font-size: .875rem;
    border-bottom: 1.8px solid var( --primary-clr-200);
    padding: 10px 1rem;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: flex-start;
    position: relative;
    flex-grow: 1;
}
.mail-txt-content{
    white-space: nowrap;
    text-overflow: ellipsis;
        overflow: hidden;
        width: 30rem;
        /* flex-basis: 16rem; */

}

.mail-subject{
    white-space: nowrap;
    text-overflow: ellipsis;
        overflow: hidden;

}
.mail-prev-btns{
    position: absolute;
    right:10px;
    border: none;
}
.mail-prev-btns button{
   border: none;
   background-color: none;
   font-size: 0.87rem;
   border-radius: 50%;
   width: 30px;
   height: 30px;
   background-color: white;
}
.mail-prev-btns button:hover{
   cursor: pointer;
   background-color: rgba(128, 128, 128, 0.247);
   position: relative;
 }


.mail-preview:hover{
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    cursor: pointer;
}
.mail-preview .star{
    font-size: 1.3rem;
    
}
.mail-preview .star.yellow{
    color: rgba(244, 201, 75, 1);
}
.mail-preview .mail-prev-btns{
    margin-left:40% ;
    
}
.fa{
    font-family: Awesome;
}
.fa-envelope-close::before{
    content: "\f0e0";
}
.fa-envelope-open::before{
    content: "\f2b6";
}
 .fa-trash:before{
   content: '\f1f8';
}
.fa-archive:before{
    content: '\f187';
}
/* \f0e0 */