.mail-list{
    grid-area: mail;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(252, 252, 252);
}
.mail-list>*{
    font-size: .875rem;
    border-bottom: 1.8px solid var( --primary-clr-200);
    padding: 10px 1rem;
}

.mail-list>*:hover{
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}
