
    .mail-typs-nav{
        grid-area: nav;
        max-width: 218px;
        /* flex-basis: 256px; */
        font-size: 0.875em;
        max-height: 320px;
        align-items: center;
        justify-content: center;

    }
    
    .mail-typs-nav>*{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        text-decoration: none;
        margin-inline-start: 2em;
        user-select: none;
        color: inherit;
        padding-inline-start:1em;
        border-radius: 50%;
        width: 3.5em;
        height: 3.5em;
        justify-content: center;
        align-items: center;

    }

    
   
    
    .unread-counter{
        position: absolute;
        right:0.9em;
        font-size: 0.875em;
        font-weight:500;
        opacity: 0.8;
        text-align: center;
        width:  0.3rem;
        height: 0.3rem;
        border-radius: 50%;
        bottom: 3.2em;
    }
   
    .inbox-nav.active .unread-counter{
        font-weight:700
       
    }
    .inbox-nav {
        position: relative;
    }
    .mail-sect-inbox{
        background-image:     url(https://www.gstatic.com/images/icons/material/system/1x/inbox_black_20dp.png);
        background-repeat: no-repeat;
        opacity: 0.54;

        width: 20px;

    }
    .mail-typs-nav .active .mail-sect-inbox{
        background-image:  url('https://www.gstatic.com/images/icons/material/system/1x/inbox_gm_googlered600_20dp.png');
        background-repeat: no-repeat;
        color: red;


    }
    
    .mail-typs-nav.active .mail-sect-inbox:hover{
        background-image:  url('https://www.gstatic.com/images/icons/material/system/1x/inbox_gm_googlered600_20dp.png');
        background-repeat: no-repeat;
        color: red;
    }
    .inbox{
        font-weight: bold;
    }
    .mail-typs-nav>*.active {
        background-color: var( --primary-clr-400);
        font-weight: bold;
    }
    .mail-typs-nav>*:hover:not(.meter-bar){
        background-color: var(  --primary-clr-200);
    }
    .inbox-nav.active {
        background-color: rgba(237, 11, 11, 0.144);
        color: red;
    }

    .mail-typs-nav .mail-sect-starred{
        background-image: url(https://www.gstatic.com/images/icons/material/system/1x/grade_black_20dp.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px;
        width: 20px;
        opacity: 0.54;

    }
    .mail-typs-nav .mail-sect-sent{
        background-image: url(https://www.gstatic.com/images/icons/material/system/1x/send_black_20dp.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px;
        width: 20px;
        opacity: 0.54;

    }
    .mail-typs-nav .mail-sect-drafts{
        background-image: url(https://www.gstatic.com/images/icons/material/system/1x/insert_drive_file_black_20dp.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px;
        width: 20px;
        opacity: 0.54;
    }
    .mail-typs-nav .mail-sect-deleted{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/delete_black_20dp.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px;
        width: 20px;
        opacity: 0.54;

    }
    .mail-typs-nav .mail-sect-all{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/mail_black_20dp.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px;
        width: 20px;
        opacity: 0.54;
        
    }
    .mail-typs-nav> *>*:nth-child(2){
        opacity: 0;
        width: 0;
    }
    .mail-typs-nav> *>*:nth-child(1):not(.meter-bar){
        width: 20px;
        height: 20px;
    }
    @media (min-width:750px) {
        .mail-typs-nav>*{
            display: flex;
            flex-direction: row;
            margin-inline-start: 0;
            padding: 1.2em 30px;
            border-radius: 0 1rem 1rem 0;
            text-decoration: none;
            user-select: none;
            color: inherit;
        }
        .unread-counter{
            right:10px;
            width:  1rem;
            bottom: 1.6em;
        }

        .mail-typs-nav> *>*:nth-child(2){
            opacity: 1;
        }
        .mail-typs-nav>*{
            gap: 1rem;
            text-decoration: none;
            width: 100%;
            height: 26px;
            justify-content:flex-start;
            align-items: center;
    
        }
    }
  

   