.edit-mail{
    grid-area: mail;
    display: flex;
    flex-direction: column;
    max-width:900px;
    max-height: 70vh;
    outline: none;
    box-shadow: 0 1px 1px 0 rgb(60 64 67 / 30%), 0 1px 4px 1px rgb(60 64 67 / 15%);
    border-radius: 10px 10px 3px 3px ;
    position: relative;
    /* transition:0.1s; */
    
}
.edit-mail.expend {
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    position: fixed;
    background-color: white;
    max-width: 100%;
    z-index: 40;
    width:75rem;
    max-height: 80vh;
    
}
.background-screen{
    position: fixed;
    top:0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100vh;
    background-color:  rgba(0,0,0,.5);
}
.edit-mail input[type='email'],.edit-mail input[type='text'],.edit-mail textarea {
    margin: 0 12px;
    padding: 10px 0;
    outline: none;
    border: none;

}
.mail-user-added-img{
    max-width: 300px;
    max-height: 300px;
    align-self: flex-end;
    position: absolute;
    bottom: 10px;
    right: 10px 
    
}
.invisible-btn-mail{
position: relative;
cursor: pointer;
width: 20px;
height: 20px;
}
.invisible-btn-mail input{
position: absolute;
height: 100%;
left: 0;
top: 0;
width: 100%;
cursor: pointer ;
opacity: 0;
}
.mail-add-img{
 background-image: url(https://www.gstatic.com/images/icons/material/system/1x/insert_photo_black_20dp.png);
 background-position: center;
 background-repeat: no-repeat;
 background-size: 20px;
 height: 20px;
 width: 20px;
 border: none;
 opacity:0.7;
 cursor: pointer;
}
.edit-mail input[type='email'],.edit-mail input[type='text']{
border-bottom: 1px solid rgba(0, 0, 0, 0.101);
}
.edit-mail textarea{
    border: none;
    outline: none;
    resize: none;
    font-family: Roboto;
}
.add-new-mail-btn{
    align-self: flex-start;
    background-color: var(--secondery-clr-blue);
    min-width: 72px;
    border-radius: 4px;
    border: none;
    font-size: .875rem;
    letter-spacing: .25px;
    height: 36px;
    color: white;
    cursor: pointer;
    margin-inline-start: 15px;
    opacity: 1;
}
.add-new-mail-btn:hover{
opacity: 0.9;
}
.add-btns{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 8px;
    
}
.add-btns>*{
    text-decoration: none;
    /* color: inherit; */
}

.mail-add-img:hover{
opacity: 1;
cursor: pointer;
}
.mail-new-msg-header{
    opacity: 0.9;
    background-color: var(--secondery-clr-dark);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    border-radius:10px 10px 0 0;
    padding: 14px;
    position: relative;

}
.mail-new{

    letter-spacing: .2px;
        font-weight: 500;
        color: white;
        font-size: .875rem;


}
.headr-links{
    display: flex;
    position: absolute;
    right: 10px;
}
.fa-times{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    opacity: 0.6;
    font-size: .875rem;
    width: 20px;
    height: 20px;

}
 a.fa-times:before{
     content: '\f00d ';

}
.fa-times:hover,.fa-expand:hover{
    color: white;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.116);
}
.fa-expand, .fa-compress{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    opacity: 0.6;
    font-size: .875rem;
    width: 20px;
    height: 20px;
}
.fa-expand:before{
    content:'\f065'
}
.fa-compress:before{
    content:'\f066'
}
