.mail-list{
    grid-area: mail;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(254, 255, 254);
   flex-grow: 4;
   overflow-y: auto;
   max-height: 60vh;
}

.mail-list::-webkit-scrollbar {
    width: 6px;
}

.mail-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.mail-list::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--primary-clr-200); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
