.meter-bar {
display: flex;
align-items: center;
position: relative;
justify-content: center;
width: 100px;
margin-inline-start: -3px;


}
.meter-precent{
    font-size: .8rem;
    position: absolute;
    top:1.35em ;
    right: 4.1em;
    opacity: 1!important;
    
}
@media (min-width:750px) {
    .meter-precent{
        top:.7em ;
        right: 10.8em;
        opacity: 1!important;
        
    }
    .meter-bar{
        margin-inline-end: 4px;
        width:18em;

    }
    
}

meter {
    width: 100px;
    height: 2.5rem;
    /* -webkit-appearance: none; */
    border: 1px solid rgba(81, 81, 81, 0.852);
    border-radius: 5px;
}


meter::-webkit-meter-bar {
    background: none;
    border-radius: 5px;
}

meter::-webkit-meter-even-less-good-value {
    box-shadow: 0 5px 5px -5px #999 inset;
    background: rgb(45 161 97);
}

meter::-webkit-meter-suboptimum-value {
    box-shadow: 0 5px 5px -5px #999 inset;
    background:  rgba(227, 224, 60, 0.84) ;
    background-size: 100% 100%;
}

meter::-webkit-meter-optimum-value {
    box-shadow: 0 5px 5px -5px #999 inset;
    background: rgb(204 73 71);
    background-size: 100% 100%;
}