/* INVISIBLE BUTTONS (FILE)*/
.invisible-btn {
    position: relative;
    border-radius: 50%; /* FIX - DUPLICATE OF CODE*/
}

.invisible-btn:hover {
    background-color: var(--primary-clr-300); /* FIX - DUPLICATE OF CODE*/
}

.invisible-btn input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}