:root {
    --primary-clr-100: rgb(255 255 255);
    --primary-clr-200: rgb(241 243 244); /* SEARCH BAR */
    --primary-clr-300: rgb(236 239 241); /* LINES */
    --primary-clr-400: rgb(232 234 237);
    --primary-clr-500: rgb(141, 147, 154);
    --primary-clr-700: rgb(95 99 104); /* FONT - GREY */
    --primary-clr-850: rgb(64 64 64); /* FONT - GREY */
    
    --primary-clr-900: rgb(32, 33, 36); /* FONT - BLACK*/




    --secondery-clr-blue: rgb(26 115 232);
    --secondery-clr-dark: rgb(32 33 36);
    --secondery-clr-grey: #f5f7f7;
}