.add-note {
    grid-area: add-note;
    align-self: center;
    justify-self: center;

    display: flex;
    align-items: center;
    padding: 0 1em;
    width: 37.5em;
    height: max-content;
    box-shadow: 0 0 8px var(--primary-clr-500);
    border-radius: 10px;
}

.add-note p {
    flex-grow: 1;
    cursor: text;
}

.add-note button {
    padding: 2em;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.add-note button:hover {
    background-color: var(--primary-clr-300);
}

.add-note.open>* {
    width: 100%;
}

.add-note.open form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.add-note.open input[type="text"] {
    margin-top: 0.5em;
    padding: 0.5em;
    border: none;
}

.add-note.open input[name="title"] {
    font-size: 1.1em;
}

.add-note .btn-container {
    display: flex;
    gap: 0.5em;
    margin: 1em 0;
}

.add-note .btn-container button {
    padding: 1.5em;
}

.add-note .btn-container button:nth-last-of-type(-n+2) {
    padding: 0.5em 2em;
    aspect-ratio: unset;
    border-radius: 6px;
}



.add-note button.img-checkbox-checked {
    background-image: url(../../../../img/keep/checkbox-checked.svg);
}

.add-note button.img-color {
    background-image: url(../../../../img/keep/color-palette.svg);
}

.add-note button.img-img-btn {
    background-image: url(../../../../img/keep/img-btn.svg);
}

.add-note button.img-reminder {
    background-image: url(../../../../img/keep/reminder.svg);
}

.add-note button.img-youtube {
    background-image: url(../../../../img/keep/youtube.svg);
}