.edit-note {
    width: 100%;
}

.edit-note form {
    display: flex;
    flex-direction: column;
}

.edit-note input[type="text"] {
    margin-top: 0.5em;
    padding: 0.5em;
    border: none;
}

.edit-note input[name="title"] {
    font-size: 1.1em;
}

.edit-note .btn-container {
    display: flex;
    gap: 0.5em;
    margin: 1em 0;
}

.edit-note .btn-container button:not(.btn-text) {
    padding: 1.5em;
}

.edit-note .hide {
    display: none;
}