.notes-filter {
    grid-area: filter;
}

.notes-filter .filter-list {
    display: flex;
    gap: 1em;
}

@media screen and (min-width: 470px) {
    .notes-filter .filter-list {
        display: unset;
    }
}