.note-preview .note-btns {
    opacity: 0;
    transition: opacity .4s;
}

.note-preview .note-btns:hover {
    opacity: 1;
}

.note-btns>.note-btn:first-of-type {
    margin-inline-start: 0.5em;
}

.note-btn {
    padding: 2em;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.note-btn.btn-text {
    padding: 0.5em 2em;
    aspect-ratio: unset;
    border-radius: 6px;
}

.note-btn:hover {
    background-color: var(--primary-clr-300);
}

.note-btn.img-archive {
    background-image: url(../../../../img/keep/archive.svg);
}

.note-btn.img-bin {
    background-image: url(../../../../img/keep/bin.png);
}

.note-btn.img-checkbox-checked {
    background-image: url(../../../../img/keep/checkbox-checked.svg);
}

.note-btn.img-checkbox-unchecked {
    background-image: url(../../../../img/keep/checkbox-unchecked.svg);
}

.note-btn.img-color {
    background-image: url(../../../../img/keep/color-palette.svg);
}

.note-btn.img-duplicate {
    background-size: 23px;
    background-image: url(../../../../img/keep/duplicate.png);
}

.note-btn.img-img-btn {
    background-image: url(../../../../img/keep/img-btn.svg);
}

.note-btn.img-reminder {
    background-image: url(../../../../img/keep/reminder.svg);
}

.note-btn.img-youtube {
    background-image: url(../../../../img/keep/youtube.svg);
}