.dynamic-note {
    position: relative;
}

.dynamic-note>.note-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    padding: 1.5em;
}

.edit-note .dynamic-note{
    z-index: 10;
}