.custom-color-picker {
    position: absolute;
    transform: translate(-50%, 30%);
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
    box-shadow: 0 0 2px var(--primary-clr-500);
    background-color: var(--primary-clr-100);
    border-radius: 10px;
    z-index: 100;
}

.custom-color-picker>* {
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: inset 0 0 1px var(--primary-clr-400);
}

.custom-color-picker>*:hover {
    transform: scale(105%);
}

/* .custom-color-picker .white {
    color: white;
    box-shadow: inset 0 0 1px var(--primary-clr-500);
}

.custom-color-picker .red {
    background-color: #f28b82;
}

.custom-color-picker .yellow {
    background-color: #fff475;
}

.custom-color-picker .green {
    background-color: #ccff90;
}

.custom-color-picker .blue {
    background-color: #cbf0f8;
}

.custom-color-picker .purple {
    background-color: #d7aefb;
}

.custom-color-picker .pink {
    background-color: #fdcfe8;
} */