.user-msg {
    padding:  1em 1.5em 1em 1em;
    position: fixed;
    bottom: 1.5em;
    left: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
    font-size: .875rem;
    letter-spacing: .2px;
    border: 1px solid var(--brown-clr-100);
    border-radius: 6px;
    background-color: rgb(32 33 36);
    box-shadow: 0 0 5px black;
    color: white;
}

.user-msg.danger {
    background-color: #be3333;
}

.user-msg .clean-btn {
  
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    font-weight: 100 !;
    font-size: 1.4rem;
    color:rgb(103, 100, 100)
}
.user-msg .clean-btn:hover{
    color:rgb(103, 100, 100)
}

.fa-times::before{
    content: '\f00d';
}